In [33]:
import pandas as pd
import numpy as np


Zipcode_States_With_Geo_Cordinates = "Zipcode_States_With_Geo_Cordinates.csv"
Suicide_Risk_Analytics_Expressions = "Suicide_Risk_Analytics_Expressions.csv"

suicide_belt_data = pd.read_csv(Zipcode_States_With_Geo_Cordinates)
expressions_data = pd.read_csv(Suicide_Risk_Analytics_Expressions)

In [36]:
expressions_data.head()

,Expression,Definition,Context,Remarks
0,With one's last breath,Before one dies,Literary,NaN
1,Wiped out...way up..,Dead usually if multiple individuals die,Neutral,NaN
2,Wearing a pine overcoat (i.e. a wooden coffin),Dead,Slang,Idiom used by American gangsters of the early ...
3,Up and die,To die usually before doing some sort of impor...,Euphemistic,NaN
4,Until one's dying day,As long as one lives,Neutral,NaN

In [37]:
suicide_belt_data.head()

,Zip Code,Place Name,State,State Abreviation,County,Latitude,Longitude,Suicide Belt State
0,99501,Anchorage,Alaska,AK,Anchorage Municipality,61.2116,-149.8761,Yes
1,99502,Anchorage,Alaska,AK,Anchorage Municipality,61.1661,-149.9600,Yes
2,99503,Anchorage,Alaska,AK,Anchorage Municipality,61.1900,-149.8938,Yes
3,99504,Anchorage,Alaska,AK,Anchorage Municipality,61.2037,-149.7447,Yes
4,99505,Jber,Alaska,AK,Anchorage Municipality,59.8666,-158.5996,Yes