In [7]:
# Dependencies
import numpy as np
import tweepy
import time
import json
import pandas as pd

# Twitter API Keys
consumer_key = "TEs2QmTsz4ylhWSqXWHOvVn99"
consumer_secret = "yA5M95uhTdeAKLondYQ9LDMPR5LWKc6wX70Yry1oRDHWtBN7gg"
access_token = "400199431-wb53H1jfbkDwY0xVS9aZbgWZrWlXcWkhXdFuBKMh"
access_token_secret = "IRvQVov2vmopxjeTutR0jn57lnMlYtr8syHQrGbLgbmW9"

# Twitter Credentials
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth, parser=tweepy.parsers.JSONParser())

In [17]:
# Get a list of locations in and outside the belt (in-belt, out-belt)
base_data = pd.read_csv("Zipcode_States_With_Geo_Cordinates.csv")
lat = base_data.groupby("State")["Latitude"].mean()
lon = base_data.groupby("State")["Longitude"].mean()
dfff = {"lat":[], "lon":[]}
for each in lat.index:
    dfff["lat"].append(lat[each])
    dfff["lon"].append(lon[each])
hah = pd.DataFrame(dfff)
base_data_state = hah.set_index([lat.index])

base_data_state.head(2)

               lat         lon
State
Alabama  32.886361  -86.813639
Alaska   61.456423 -152.486981

In [42]:
tweet_df = {}
tweet_df = pd.DataFrame(tweet_df)
tweet_df["state"] = ""
tweet_df["text"] = ""
tweet_df["lat"] = ""
tweet_df["lon"] = ""
tweet_df["followers"] = ""
tweet_df["favorites"] = ""
tweet_df["friends"] = ""
tweet_df["statuses_count"] = ""
tweet_df["compound"] = ""
tweet_df["pos"] = ""
tweet_df["neg"] = ""

tweet_df

Empty DataFrame
Columns: [state, text, lat, lon, followers, favorites, friends, statuses_count, compound, pos, neg]
Index: []

In [ ]:
# Loop through DataFrame for each Latitude and Longitude
for index, row in base_data_state.iterrows():    
        
    # Get Tweets for all locations
    location = "%s,%s,50mi" % (row["lat"], row["lon"])     
    public_tweets = api.search("", geocode = location, count=200)
    
    # Extract all hashtags from tweets directed to the account
    for tweet in public_tweets["statuses"]:

        # Print tweet in JSON
        # print(json.dumps(tweet, sort_keys=True, indent=4, separators=(',', ': ')))

        # Print the Tweet Text         
        print(tweet["text"])
        
        # Print tweet text
        tweet_df.set_value(index, "state", row["state"])
        tweet_df.set_value(index, "text", tweet["text"])
        tweet_df.set_value(index, "lat", row["lat"])
        tweet_df.set_value(index, "lon", row["lon"])
                              
        tweet_df.set_value(index, "followers", tweet["user"]["followers_count"])
        tweet_df.set_value(index, "favorites", tweet["user"]["favourites_count"])
        tweet_df.set_value(index, "friends", tweet["user"]["friends_count"])
        tweet_df.set_value(index, "statuses_count", tweet["user"]["statuses_count"])
 
        # Save to a csv for every state
        tweet_df.to_csv("Tweet_Dump.csv")

In [4]:
# We're going to store the tweets inside a dataframe associated with the state, location, and in-belt/out-belt

In [5]:
# We're going to process all the tweets

In [ ]:
# We're going to group the data in-belt/out-belt